<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <title>جدیدترین مطالب نشریه افق</title>
    <h1 style="text-align:center;">جدیدترین مطالب و مقالات را در اینجا بخوانید!</h1>
    {% if text %}
    <body>
        <meta charset="UTF-8">
        {% for article in text %}
            <div class="container">
                <h2>{{ article.title}}</h2>
                <blockquote><h4>{{ article.summary }}</h4></blockquote>
                <hr>
            </div>
        {% endfor %}
    </body>
    {% endif %}
</html>