{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>مدرســه آفاق</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ofoqSchool/style.css' %}">
</head>

<body>

    <div class="mui-appbar-home">

    </div>

{% if all_files %}
    <div class="mainBoard">
        <div class="titleDescription">
            <p class="greetingText">
            به مدرســه آفـاق خوش آمدید!
            </p>
        </div>

            <table>
              <tr>
                <th class="fileURL">لینــک دانـلود</th>
                <th class="fileCreator"> ایـــجاد کننــده </th>
                <th class="fileTitle">   عنوان   </th>
                <th class="audioFileLogo"></th>
              </tr>
              {% for file in all_files %}
              <tr class="fileURL">
                <td>
                 <a
                    href="{{ file.file_url.url }}" target="_blank">
                    Download file
                 </a>
                </td>
                <td class="fileCreator">
                    {{ file.Creator }}
                </td>
                <td class="fileTitle">
                    {{ file.Title }}
                </td>
                <td>
                    <img src="gallery/audioFileIcon.png">
                </td>
              </tr>
              {% endfor %}
            </table>
    </div>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
    <p>hdknckdn</p>
{% else %}
<h2>
    هیچ فایل صوتی ای در سایت برگزاری نشده است
</h2>
{% endif %}
</body>
</html>